*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(135deg,#0f172a,#111827,#1e293b);
    color: #fff;
    line-height: 2;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
    background-color: #111827;
}
.navbar{
    width: 90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:18px 0;
}
.logo{
    font-size:28px;
    font-weight:700;
    color:#38bdf8;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: .3s;
}
.nav-links a:hover{
    color:#38bdf8;
}



/* Heroo section */

.hero{
    scroll-margin-top: 100px;
    width: 90%;
    display: flex;
    margin:120px auto 60px;
    justify-content: center;
    text-align: center;
    min-height:100vh;

}
.hero-content{
    width: 90%;
    margin-top: 20px;
}
.hero-content h3{
    font-size:28px;
    color:#38bdf8;
}
.hero-content h1{
    font-size:60px;
    margin:10px 0;
}
.hero-content h2{
    font-size:35px;
    color:#94a3b8;
}
.hero-content p{
    color:#cbd5e1;
    margin: 25px 0;
    font-size:20px;
    
    margin-top: 30px;
    justify-content: center;
    display: flex;
}
.hero-button{
    display:flex;
    gap:20px;
    justify-content: center;
    margin-top: 80px;
}
.btn{
    display: inline-block;
    background:#2563eb;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    transition: .3s;
    font-weight:600;
}
.btn:hover{
    background:#1d4ed8;
    transform:translateY(-5px);
}
.btn-outline{
    background: transparent;
    border:2px solid #38bdf8;
}
.btn-outline:hover{
    background:#38bdf8;
    color:#000;
}
.hero-image{
    width:40%;
    display:flex;
    justify-content:center;
   
}
.hero-image img{
    width:360px;
    height:360px;
    margin-top: 30%;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #38bdf8;
    box-shadow:0 15px 40px rgba(56,189,248,.4);
}


/*  About  */

.about{
    width: 100%;
    padding: 100px 10%;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content{
    max-width: 900px;
    padding: 50px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 10px 35px rgba(0,0,0,0.4);
    transition: 0.4s ease;
}
.about-content:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 45px rgba(18, 137, 137, 0.2);
}
.about-content h2{
    font-size: 42px;
    color:#38bdf8;
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
}
.about-content p{
    text-align: justify;
    font-size:16px;
    line-height:2.5;
    
}

/* Sections*/

section{
    width:90%;
    margin:90px auto;
}
.section-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color:#38bdf8;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}
.skill-card{
    background:#1e293b;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition:.3s;
    font-weight:600;
}
.skill-card:hover{
    transform:translatey(-10px);
    background:#616a7d;
}

/*Experience*/
.experience-card{
    background:#1e293b;
    padding: 30px;
    margin-bottom: 25px;
    border-left: 5px solid #38bdf8;
    border-radius: 10px;
}
.experience-card h3{
    margin-bottom: 10px;
}
.experience-card span{
    color:#38bdf8;
    font-weight:600;
}

/*Project*/
.project-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}
.project-links{
    display:flex;
    gap:15px;
    margin-top:20px;
}
.project-btn{
    flex: 1;
     text-align:center;
    padding:10px 15px;
    background:#0d5ee1;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}
.project-btn:hover{
    background:#34568c;
    transform:translateY(-3px);
}

.github-btn{
    background:#0d5ee1;
}

.github-btn:hover{
    background:#486bb7;
}
.project-card{
    background:#1e293b;
    padding:30px;
    border-radius:10px;
    transition:.4s;
}
.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 12px 30px rgba(0,0,0,.3);
}
.project-card h3{
    margin-bottom:15px;
    color:#38bdf8;
}
#contact{
    text-align: center;
}
#contact p{
    margin:12px;
    color:#cbd5e1;
}
.social-icons{
    margin-top:25px;
}
.social-icons a{
    display: inline-block;
    width:55px;
    height: 55px;
    line-height: 55px;
    margin: 10px;
    font-size:24px;
    color:white;
    background:#2563eb;
    border-radius:50%;
    transition:.3s;
}
.social-icons a:hover{
    transform:scale(1.15);
    background:#38bdf8;
    color:black;
}
footer{
    text-align: center;
    padding: 30px;
     background:#111827;
    margin-top:60px;
}

/* Responsive*/
@media(max-width:992px){
.hero{
    flex-direction: column-reverse;
    text-align:center;
}
.hero-content{
        width:100%;
    }
.hero-image{
        width:100%;
        margin-bottom:40px;
    }

 .hero-button{
        justify-content:center;
    }
      .hero-content h1{
        font-size:45px;
    }

    .hero-content h2{
        font-size:28px;
    }

    .nav-links{
        gap:15px;
    }

}


@media(max-width:768px){
     .navbar{
        flex-direction:column;
        gap:20px;
    } 
     .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }
    .hero-content h1{
        font-size:36px;
    }
    .hero-content h2{
        font-size:24px;
    }
    .hero-image img{
        width:250px;
    }
    .section-title{
        font-size:32px;
    }
}